workflows/container-health-check.json
{
  "name": "Container Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "command": "#!/bin/bash\nset -euo pipefail\n\n# Containers to check\ncontainers=(plex sonarr radarr overseerr tautulli)\n\nbad=0\nmsg=\"\"\nall_status=\"\"\n\nfor c in \"${containers[@]}\"; do\n  if ! docker inspect -f '{{.State.Status}}' \"$c\" >/dev/null 2>&1; then\n    bad=1\n    msg+=\"$c:missing \"\n    all_status+=\"$c:missing \"\n    continue\n  fi\n\n  st=\"$(docker inspect -f '{{.State.Status}}' \"$c\")\"\n  all_status+=\"$c:$st \"\n  \n  if [[ \"$st\" != \"running\" ]]; then\n    bad=1\n    msg+=\"$c:$st \"\n  fi\n\n  # If container has a healthcheck, also enforce it\n  health=\"$(docker inspect -f '{{if .State.Health}}{{.State.Health.Status}}{{else}}none{{end}}' \"$c\")\"\n  if [[ \"$health\" != \"none\" && \"$health\" != \"healthy\" ]]; then\n    bad=1\n    msg+=\"$c:health=$health \"\n    all_status+=\"(health:$health) \"\n  fi\ndone\n\nif [[ \"$bad\" -eq 0 ]]; then\n  echo \"STATUS:OK\"\n  echo \"MESSAGE:All containers running\"\n  echo \"DETAILS:$all_status\"\nelse\n  echo \"STATUS:FAIL\"\n  echo \"MESSAGE:$msg\"\n  echo \"DETAILS:$all_status\"\nfi\n"
      },
      "id": "ssh-check-containers",
      "name": "SSH: Check Containers",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "ssh": {
          "id": "1",
          "name": "SSH localhost"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the SSH output\nconst output = $input.item.json.stdout || '';\nconst lines = output.split('\\n').filter(l => l.trim());\n\nlet status = 'unknown';\nlet message = 'No output';\nlet details = '';\n\nfor (const line of lines) {\n  if (line.startsWith('STATUS:')) {\n    status = line.split(':')[1].trim();\n  } else if (line.startsWith('MESSAGE:')) {\n    message = line.substring(8).trim();\n  } else if (line.startsWith('DETAILS:')) {\n    details = line.substring(8).trim();\n  }\n}\n\nconst isHealthy = status === 'OK';\nconst uptimeKumaStatus = isHealthy ? 'up' : 'down';\nconst uptimeKumaMsg = isHealthy ? 'Containers OK' : `Containers BAD: ${message}`;\n\nreturn {\n  status: status,\n  isHealthy: isHealthy,\n  message: message,\n  details: details,\n  uptimeKumaStatus: uptimeKumaStatus,\n  uptimeKumaMsg: uptimeKumaMsg,\n  timestamp: new Date().toISOString()\n};\n"
      },
      "id": "parse-results",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://192.168.1.142:3001/api/push/hM6oDQYkfH",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $json.uptimeKumaStatus }}"
            },
            {
              "name": "msg",
              "value": "={{ $json.uptimeKumaMsg }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "uptime-kuma-push",
      "name": "Uptime Kuma Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isHealthy }}",
              "value2": false
            }
          ]
        }
      },
      "id": "if-unhealthy",
      "name": "If Unhealthy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\u26a0\ufe0f *Container Health Alert*\n\n*Status:* {{ $json.status }}\n*Issue:* {{ $json.message }}\n\n*Details:* {{ $json.details }}\n\n*Time:* {{ $json.timestamp }}\n*Server:* ollivanders.home (192.168.1.142)",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "No Action (Healthy)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "SSH: Check Containers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH: Check Containers": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Uptime Kuma Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uptime Kuma Push": {
      "main": [
        [
          {
            "node": "If Unhealthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Unhealthy": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action (Healthy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-22T00:00:00.000Z",
  "versionId": "1"
}
